
section {
	display:flex;
    padding: 20px;
    width: 100%;
	margin-left: auto;
	margin-right: auto
}

.section h4 {
	display: 100%;
}
section img {
	border: solid;
    width: 30%;
    align-content: center;
   }